caption{
    background-color: rgba(137, 43, 226, 0.471);
    
}
table{
    border: 4px solid purple;
    width: 400px;
    height: 50px;
    background-color: rgb(228, 203, 242);
    padding: 12px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    text-align:center;
    
}

th{
    border-bottom: 4px solid black;
    border-right: 2px solid black;
    border-left: 0,50px solid black;
    border: 2px solid black;
    padding-top:7,5px;
    
}

td{
    background-color: rgb(132, 105, 157);
}