body,html{
    margin:0px;
    padding:0px;
    height:100%;
}
.contenedor{
    margin:0px;
    position:relative;
    width:100%;
    height:100%;
}
.container{
    margin:0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
}
.apartado{
    position:relative;
    width:50%;
    height:50%;
}
.apartadoComer{
    background-color:#F8F3EA;
    p{
        color:
    }
   
}
.apartadoJugar{
    background-color:#0B1957;
    p{
        color:#b66f99;
    }
   
   
}

.apartadoPelea{
    background-color:#9ECCFA;
     p{
        color:#0B1957;
     }
  
}

.apartadoDormir{
    
    background-color:#D1E8FF;
    

}
#imagen{
    max-width: 100%;
    max-height:100%;
    top:33%;
    left:42%;
    position:absolute;
    }

.progressbar {
        position: absolute;
        top: 0;
        right: 0;
        width: 300px; /* Ajusta el ancho de la barra de progreso según sea necesario */
        height: 16px; /* Ajusta la altura de la barra de progreso según sea necesario */
        background-color: #b66f99; /* Color de fondo de la barra de progreso */
        border-radius: 5px; /* Borde redondeado para la barra de progreso */
        
    }
    
.progressbarhtml {
        position: relative;
        top: 0px; /* Posición de la etiqueta de porcentaje */
        left: -24px; /* Ajuste fino para centrar la etiqueta de porcentaje */
        color: black; /* Color de la etiqueta de porcentaje */
        
    }

button{
        border-radius: 12px;
        width: 62px; /* Ancho del botón */
        height: 50px; /* Altura del botón */
        border-radius: 30px;
        border-color: aquamarine;
    }