.calculator {
    width: 500px;
    margin: 80px auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: rgb(242, 191, 215);
  }
  
  #display {
    width: 100%;
    margin-bottom: 10px;
    padding: 2px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  button {
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    color: rgb(69, 9, 38);
  }

